* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: linear-gradient(to right, #434343, #000000);
}

input {
   display: none;
}

input:checked ~ #main label:hover img {
   filter: grayscale(0);
   transform: scale(1.06);
}

input:checked ~ #main label:nth-child(1) {
   transform: translateX(-300px);
}

input:checked ~ #main label:nth-child(2) {
   transform: translateX(0);
}

input:checked ~ #main label:nth-child(3) {
   transform: translateX(300px);
}

#main {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

#main label {
   position: absolute;
   width: 250px;
   height: 320px;
   border: 5px solid #fff;
   border-radius: 8px;
   box-shadow: 0 0 5px rgba(0, 0, 0, .1);
   overflow: hidden;
   margin: auto;
   cursor: pointer;
   transition: all ease 700ms;
}

#main label img {
   width: 100%;
   height: 100%;
   filter: grayscale(1);
   transition: all ease 400ms;
}

#main label:nth-child(1) {
   transform: rotate(5deg);
}

#main label:nth-child(2) {
   transform: rotate(15deg);
}

#main label:nth-child(3) {
   transform: rotate(25deg);
}